{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "airbnb-base",
      "airbnb-typescript/base",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "rules": {
      "@typescript-eslint/no-unused-vars": "off",
      "@typescript-eslint/indent": ["error", 2],
      "@typescript-eslint/no-explicit-any": "error",
      "@typescript-eslint/ban-types": [
        "error",
        {
            "types": {
                "Function": false
            }
        }
      ],
      "no-undef": "off",
      "no-console": "off",
      "max-len": [
        "error",
        {
          "code": 140,
          "ignoreComments": true,
          "ignoreUrls": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
        }
      ],
      "prettier/prettier": "error"
    }
}
